body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
}

header {
  background-color:black;
  color: #0bf9f5;
  padding: 10px 0;
  text-align: center;
}
img{
  height: 20%;
  width: 20%;
  display: flex;
}

.main-btn{
  margin-top: 0%;
  margin-left: 20%;
  
}

header h1 {
  margin: 0;
  font-size: 70px;
  background: linear-gradient(rgb(100, 100, 243) , rgb(23, 144, 168) , rgb(107, 107, 230));
  border :  2px solid rgb(8, 232, 248) ;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 22%;
  width: 100%;
}


nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 50px;
  font-weight: 200px;
}

nav ul li {
  display: inline;
  margin: 0 15px;
  font-size:25px;
}
nav ul li:after{
  content: "";
  position: absolute;
  background-color: #0bf9f5;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
nav ul li:hover:after{
  width: 100%;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}


.section-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 40px;
  height: 800px;
  background-image: url(delhi\ hospitals.png);
}

.section-box {
  background-color: #0d0d0d;
  border: 2px solid #00ccff;
  width: 500px;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.section-box:hover{
  transform: scale(1.05);
}
.section-box h2 {
  color: #00fbfff0;
}

.hospital-list {
  display: none;
  margin-top: 20px;
  text-align: left;
}

#hospital-items {
  list-style-type: none;
  padding-left: 0;
}

#hospital-items li {
  background-color: white;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  background-color: #0a0a0a;
  color: white;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.emergency-div {
  width: 25%;
  padding: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin: 0 25px;
}

.emergency-div:nth-child(3n) {
  margin-right: 0;
}

.prescription-section {
  display: none;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fff;
}

.prescription-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.prescription-btn:hover {
  background-color: #0056b3;
}
footer {
  background-color: #444;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}